img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 100%;

    
}


ul {
    background: #3399ff;
    padding: 20px;
    list-style-type: none;
    border-style: none;
    width: 40%;
    
}
h1 {
    padding: 60px;
    text-align: center;
    background: #3399ff;
    color: white;
    font-size: 30px;
    width: 40%;
  }
body {
      background-color: rgb(245, 243, 243);
    }