.main-flex{
  display: flex;
  flex-direction: column;
}
.all-languages-flex{
  display: flex;
  flex-direction: column;
}
.menu-flex-container{
  display: flex;
  justify-content:flex-end;
  margin:1%;
  
}


.menubtn {
  background-color: #3399ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display:none ;
  position: absolute;
  background-color: #f1f1f1;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.flex-progress-bar{
  display: flex;
  background-color: transparent;
  margin: 5%;
  background-color:black;

  
}

pre{
  background-color: white;
  font-family: cursive;
  width: 80%;
  font-size: 20px;
  
}
/* .flex-bar > div{
  flex:80%;
  background-color: #ffffff;
  
} */

img{
    height: 170px;
    width: 170px;
    border-radius:90%;
    object-fit: cover;    
}


.menu-img{
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius:100%;
  object-fit: cover;
}
.language-name{
  background-color:transparent;
  flex:10%;
}


ul{
    background: #3399ff;
    padding: 20px;
    list-style-type: none;
    border-style: none;
    width: 40%;
    
}
/* h1{
    padding: 60px;
    text-align: center;
    background: #3399ff;
    color: white;
    font-size: 30px;
    width: 40%;
  } */
body{
      background-color:rgb(231, 231, 231);
    }

p.big{
  background-color:#3399ff;
  color:white; 
  text-align: center; 
  font-size: 150%;
}

b.small{
  background-color:white;
  color:transparent; 

}
div.big{
  background-color:#3399ff; 
  flex:80%;
  
}
div.small{
  background-color: white; 
  flex:10%;
}